.modal-content {
  border-radius: 8px;
}
.modal-header {
  background-color: #222D37;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.modal-header h4 {
  color: white;
}
.modal-body {
  color: black;
}
.modal-footer {
  background-color: #222D37;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
